/* Universal */

:root {
  --foreground-color: #222;
  --foreground-color-dim: #555;
  --link-color: #0052b1;
  --link-color-active: #b10064;
  --link-color-visited: #7000b1;
  --background-color: #ddd;
}

html {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font: 1em "Noto Sans", Helvetica, sans-serif;
  line-height: 1.5;
}

code, pre, kbd, samp {
  font-family: "Noto Sans Mono", monospace;
  font-size: 1em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5, h6 {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 0.375rem;
}

h1:first-child, h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
  margin-top: 0.375rem;
}

p, ul, li {
  margin: 0.75rem 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: var(--link-color-active);
}

a:visited {
  color: var(--link-color-visited);
}

header {
  border-bottom: 0.2rem solid var(--foreground-color);
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

nav a, nav a:visited {
  color: var(--foreground-color);
}

nav a img {
  height: 1.5rem;
  vertical-align: middle;
  margin-bottom: 0.3rem;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid var(--foreground-color);
  font-size: 1.2rem;
  color: var(--foreground-color-dim);
}

article .header {
  font-size: 1.4rem;
  font-style:italic;
  color: var(--foreground-color-dim);
}

.logo {
  text-align: left;
  text-transform: none;
}

.light-mode {
  display: initial;
}

.dark-mode {
  display: none;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }

  header {
    margin: 4.2rem 0;
  }

  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }

  footer {
    text-align:center;
  }

  .logo {
    display: block;
  }

  .logo a {
    font-size: 2.4rem;
  }

  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }

  header {
    margin: 4.2rem 0;
  }

  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }

  footer {
    text-align: center;
  }

  .logo {
    display: block;
  }

  .logo a {
    font-size: 2.4rem;
  }

  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width:640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }

  header {
    margin: 0 0 1rem;
    padding: 1.2rem 0;
  }

  nav {
    margin: 0;
    text-align: right;
  }

  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }

  footer {
    text-align: right;
  }

  .logo {
    float: left;
    margin: 0;
  }

  .logo a {
    font-size: 1.8rem;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ddd;
    --foreground-color-dim: #777;
    --link-color: #4491ee;
    --link-color-active: #f147bb;
    --link-color-visited: #984ef1;
    --background-color: #222;
  }

  .light-mode {
    display: none;
  }

  .dark-mode {
    display: initial;
  }
}

/* Index */

.index-body {
  overflow: auto;
}

.index-me {
  float: right;
  width: 33%;
  margin-left: 1rem;
  aspect-ratio: 3 / 4;
  outline: 2px solid var(--foreground-color);
  outline-offset: -2px;
}

.index-summary-header a {
  color: var(--foreground-color);
}
